header {
  height: 60px;
  margin-top: 20px;
  padding: 6px 20px;
  display: flex;
  justify-content: space-between;
  background-color: #ECEAF9;
}

.logo, .auth {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.logo h1 {
  font-size: 12px;
  font-weight: 600;
}

.auth p {
  font-size: 12px;
  margin-right: 10px;
  color: #BBB9C8;
}

.auth p span {
  font-weight: 600;
  color: #000;
}

.auth button {
  width: 100px;
  padding: 5px 15px;
  background: #ECEAF9;
  outline: none;
  border: 1px solid #D8A8CB;
  border-radius: 4px;
  transition: .2s ease-in-out all;
}

.auth button:hover {
  box-shadow: 0 0 12px 0 rgba(115, 115, 255, 0.4);
  cursor: pointer;
}

.auth button:active {
  box-shadow: 0 0 4px 0 rgba(115, 115, 255, 0.4);
  transition: none;
}
