input {
  height: 23px;
  width: 200px;
  margin-bottom: 15px;
  background-color: #F6F6FD;
  outline: none;
  border: 1px solid #BBB9C8;
  border-radius: 4px;
  text-indent: 10px;
  font-size: 12px;
}

input::placeholder {
  color: #BBB9C8;
}

input:focus::placeholder {
  color: transparent;
}
