<div class='course'
     (click)='openItem(course)'
     [border]='course.creation'
     [ngClass]="{'top-rated': course.topRated}">
  <div class='main'>
    <div class='title'>
      <span *ngIf='course.topRated'>★</span>
      <p>{{ course.title }}</p>
      <button class='edit'></button>
      <button class='delete' (click)='deleteItem($event)'></button>
    </div>
    <div class='date'>
      <div>{{ course.duration }}</div>
      <div>{{ course.creation }}</div>
    </div>
  </div>
  <div class='description'>{{ course.description }}</div>
</div>
