<div class='course'
     (click)='onOpen(course)'
     [border]='course.creation'
     [ngClass]="{'top-rated': course.topRated}">
  <div class='main'>
    <div class='title'>
      <span *ngIf='course.topRated'>★</span>
      <p>{{ course.title | uppercase }}</p>
      <button class='edit'></button>
      <button class='delete' (click)='onDelete($event)'></button>
    </div>
    <div class='date'>
      <div>{{ course.duration | time }}</div>
      <div>{{ course.creation | date:'dd.MM.yyyy' }}</div>
    </div>
  </div>
  <div class='description'>{{ course.description }}</div>
</div>
